.popup_icon{
    top:80px;
    right: 20px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 10%;
    position: absolute;
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }