<div class="topnav">
    <a [class.selected]="nameSelected == 'New Releases'" href="#" (click)="chosen('New Releases')">New Releases</a>
    <a [class.selected]="nameSelected == 'Trending'" href="#" (click)="chosen('Trending')">Trending</a>
    <a [class.selected]="nameSelected == 'Coming Soon'" href="#" (click)="chosen('Coming Soon')">Coming Soon</a>
    <a [class.selected]="nameSelected == 'Favourites'" href="#" (click)="chosen('Favourites')">Favourites</a>
    <a [class.selected]="nameSelected == 'Watch Later'" href="#" (click)="chosen('Watch Later')">Watch Later</a><hr>


    <div class="dropdown">
        <button class="dropbtn">Choose Film Genre</button>
        <div class="dropdown-content">
          <a [class.selected]="nameSelected == 'Crime'" href="#" (click)="chosen('Crime')">Crime</a>
          <a [class.selected]="nameSelected == 'Drama'" href="#" (click)="chosen('Drama')">Drama</a>
          <a [class.selected]="nameSelected == 'Action'" href="#" (click)="chosen('Action')">Action</a>
          <a [class.selected]="nameSelected == 'Biography'" href="#" (click)="chosen('Biography')">Biography</a>
          <a [class.selected]="nameSelected == 'History'" href="#" (click)="chosen('History')">History</a>
          <a [class.selected]="nameSelected == 'Adventure'" href="#" (click)="chosen('Adventure')">Adventure</a>
          <a [class.selected]="nameSelected == 'Fantasy'" href="#" (click)="chosen('Fantasy')">Fantasy</a>
          <a [class.selected]="nameSelected == 'Western'" href="#" (click)="chosen('Western')">Western</a>
          <a [class.selected]="nameSelected == 'Comedy'" href="#" (click)="chosen('Comedy')">Comedy</a>
          <a [class.selected]="nameSelected == 'Romance'" href="#" (click)="chosen('Romance')">Romance</a>
          <a [class.selected]="nameSelected == 'Sci-Fi'" href="#" (click)="chosen('Sci-Fi')">Sci-Fi</a>
          <a [class.selected]="nameSelected == 'Mystery'" href="#" (click)="chosen('Mystery')">Mystery</a>
          <a [class.selected]="nameSelected == 'Thriller'" href="#" (click)="chosen('Thriller')">Thriller</a>
          <a [class.selected]="nameSelected == 'Family'" href="#" (click)="chosen('Family')">Family</a>
          <a [class.selected]="nameSelected == 'War'" href="#" (click)="chosen('War')">War</a>
          <a [class.selected]="nameSelected == 'Horror'" href="#" (click)="chosen('Horror')">Horror</a>
          <a [class.selected]="nameSelected == 'Music'" href="#" (click)="chosen('Music')">Music</a>
          <a [class.selected]="nameSelected == 'Animation'" href="#" (click)="chosen('Animation')">Animation</a>
          <a [class.selected]="nameSelected == 'Film-Noir'" href="#" (click)="chosen('Film-Noir')">Film-Noir</a>
          <a [class.selected]="nameSelected == 'Musical'" href="#" (click)="chosen('Musical')">Musical</a>
          <a [class.selected]="nameSelected == 'Sport'" href="#" (click)="chosen('Sport')">Sport</a>
        </div>
      </div>
</div>




    
     