<div class="topnav">
    <a [class.selected]="nameSelected == 'New Releases'" href="#" (click)="chosen('New Releases')">New Releases</a>
    <a [class.selected]="nameSelected == 'Trending'" href="#" (click)="chosen('Trending')">Trending</a>
    <a [class.selected]="nameSelected == 'Coming Soon'" href="#" (click)="chosen('Coming Soon')">Coming Soon</a>
    <a [class.selected]="nameSelected == 'Favourites'" href="#" (click)="chosen('Favourites')">Favourites</a>
    <a [class.selected]="nameSelected == 'Watch Later'" href="#" (click)="chosen('Watch Later')">Watch Later</a><hr>
</div>

    
     